/* .container {
  overflow-x: hidden;
} */

.top {
  background-image: url("https://wallpapercave.com/wp/wp2315666.jpg");
  background-position: center;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.jumbotron {
  margin-right: 700px;
  background-color: inherit;
}
